* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lobster', cursive;
  background: whitesmoke;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
  background-color:#fff;
  width:16px
}

body::-webkit-scrollbar-track {
  background-color:#fff
}

body::-webkit-scrollbar-thumb {
  background-color:#babac0;
  border-radius:16px;
  border:4px solid #fff
}

body::-webkit-scrollbar-button {display:none}

body h1 {
  margin: 2rem;
  font-size: 4rem;
  text-align:center;
}

.loader {
  position: fixed;
  top: 25vh;
}

.unsplash-container {
  margin: 10px 30%;
}

.unsplash-container img {
  width: 100%;
  margin-top: 0.5rem;
}

@media screen and (max-width: 905px) {
  body h1 {
    font-size: 3rem;
  }

  .unsplash-container {
    margin: 10px;
  }
}

@media screen and (max-width: 698px) {
  body h1 {
    font-size: 2rem;
  }

  .loader img{
    height: 10rem;
  }
}

@media screen and (max-width: 492px) {
  body h1 {
    font-size: 1.5rem;
    width: 60vw;
  }

  .loader img{
    height: 8rem;
  }
}